<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
            <div class="navbar-inner">
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                <h2  class="nav-link-text">Admin Page</h2>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/features">
                                <i class="bi bi-chevron-double-right"></i>
                                <span class="nav-link text-blue">Features</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/skills">
                                <i class="bi bi-chevron-double-right"></i>
                                <span class="nav-link text-blue">Skills</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/abouts">
                                <i class="bi bi-chevron-double-right"></i>
                                <span class="nav-link text-blue">Abouts</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services">
                                <i class="bi bi-chevron-double-right"></i>
                                <span class="nav-link text-blue">Services</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/portfolios">
                                <i class="bi bi-chevron-double-right"></i>
                                <span class="nav-link text-blue">Portfolios</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/experiences">
                                <i class="bi bi-chevron-double-right"></i>
                                <span class="nav-link text-blue">Experiences</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/testimonials">
                                <i class="bi bi-chevron-double-right"></i>
                                <span class="nav-link text-blue">Testimonials</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacts">
                                <i class="bi bi-chevron-double-right"></i>
                                <span class="nav-link text-blue">Contacts</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="LogOut">
                                <span class="nav-link text-red">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</nav>


