@model BusinessLayer.Models.Contacts.UpdateContactModel

@{
    ViewBag.Title = "Update Contact";
    Layout = "_AdminLayout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Update <b>Contact</b></h3>
                </div>
                <div class="card-body">
                    <form action="/contacts/update" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id" />

                        <div class="form-group">
                            <label asp-for="Title">Title</label>
                            <input asp-for="Title" class="form-control" required>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Mail">Mail</label>
                            <input asp-for="Mail" class="form-control" required>
                            <span asp-validation-for="Mail" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Phone">Phone</label>
                            <input asp-for="Phone" type="number" class="form-control" required>
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



